<div class="column three-fourths contributions-container">
  <div class="fixed contributions-container__nav">
    <div class="tabnav">
      <nav class="tabnav-tabs">
        <a href="#" class="tabnav-tab selected">
          <span class="octicon octicon-diff-added"></span>
          Pull Requests
        </a>
      </nav>
    </div>
  </div>
  <div class="contributions-container__list">
    <% @sorted_pull_requests.each do |repo, pull_requests| %>
      <div class="repo_item">
        <div class="repo_item__icon">
          <span class="octicon mega-octicon <%= repo_icon_for(repo, @user) %>"></span>
        </div>
        <div class="repo_item__stats">
          <span class="repo_item__stat-item"><%= repo.language %></span>
          <a class="repo_item__stat-item" href="<%= repo.html_url %>/stargazers">
            <span class="tooltipped tooltipped-s" aria-label="Stargazers">
              <span class="octicon octicon-star"></span>
              <%= repo.stargazers_count %>
            </span>
          </a>
          <a class="repo_item__stat-item" href="<%= repo.html_url %>/network">
            <span class="tooltipped tooltipped-s" aria-label="Forks">
              <span class="octicon octicon-git-branch"></span>
              <%= repo.forks %>
            </span>
          </a>
        </div>
        <h2 class="repo_item__name">
          <a href="<%= repo.html_url %>"><%= repo.full_name %></a>
        </h2>
        <p class="text-muted repo_item__updated-at">
          <small>Updated <time datetime="<%= repo.pushed_at %>"><%= time_ago_in_words(repo.pushed_at) %></time></small>
        </p>
        <p class="repo_item__description"><%= CGI::escapeHTML repo.description %></p>
        <% pull_requests.each do |pull_request| %>
          <div class="pull-request-container">
            <a href="<%= pull_request.html_url %>" class="pull-request-container__link">
              <%= pull_request.title %>
            </a>
            <div class="issue-meta">
              <span class="text-muted">
                #<%= pull_request.number %>
                merged at
                <time datetime="<%= pull_request.closed_at %>">
                  <%= pull_request.closed_at.strftime("%b %d, %Y") %>
                </time>
              </span>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
