<div class="column-1">
  <a href="<%= @user.url %>">
    <img alt="Profile Picture" class="avatar" height="230" src="<%= @user.avatar_url %>" width="230">
  </a>
  <h1 class="vcard-names">
    <span class="vcard-fullname"><%= @user.name %></span>
    <span class="vcard-username"><%= @user.login %></span>
  </h1>
  <ul class="vcard-details">
    <li class="vcard-detail">
      <span class="octicon octicon-organization"></span><%= @user.company %>
    </li>
    <li class="vcard-detail">
      <span class="octicon octicon-link"></span><a href="<%= @user.blog %>" class="url" rel="nofollow me"><%= @user.blog %></a>
    </li>
    <li class="vcard-detail">
      <span class="octicon octicon-clock"></span>
      <span>Joined on </span>
      <time datetime="<%= @user.created_at %>"><%= @user.created_at.strftime("%b %d, %Y") %></time>
    </li>
  </ul>
  <div class="vcard-stats">
    <a class="vcard-stat" href="<%= @user.followers_url %>">
      <strong class="vcard-stat-count"><%= @user.followers %></strong>
      <span class="text-muted">Followers</span>
    </a>
    <a class="vcard-stat" href="<%= @user.gists_url.gsub(/\{.*\}/, '') %>">
      <strong class="vcard-stat-count"><%= @user.public_gists %></strong>
      <span class="text-muted">Gists</span>
    </a>
    <a class="vcard-stat" href="<%= @user.following_url.gsub(/\{.*\}/, '') %>">
      <strong class="vcard-stat-count"><%= @user.following %></strong>
      <span class="text-muted">Following</span>
    </a>
  </div>
</div>
