<div class="column one-fourth fixed profile">
  <a href="<%= @user.html_url %>">
    <img alt="Profile Picture" class="avatar" height="230" src="<%= @user.avatar_url %>" width="230">
  </a>
  <div class="profile__full-name"><%= @user.name %></div>
  <div class="profile__username"><%= @user.login %></div>
  <ul class="profile__section">
    <% if !@user.company.to_s.empty? %>
      <li class="profile__detail">
        <span class="octicon octicon-organization"></span>
        <span><%= @user.company %></span>
      </li>
    <% end %>
    <% if !@user.blog.to_s.empty? %>
      <li class="profile__detail">
        <span class="octicon octicon-link"></span>
        <span><a href="<%= @user.blog %>" rel="nofollow me"><%= @user.blog %></a></span>
      </li>
    <% end %>
    <% if !@user.location.to_s.empty? %>
      <li class="profile__detail">
        <span class="octicon octicon-location"></span>
        <span><%= @user.location %></span>
      </li>
    <% end %>
    <% if !@user.email.to_s.empty? %>
      <li class="profile__detail">
        <span class="octicon octicon-mail"></span>
        <span><a href="mailto:<%= @user.email %>"><%= @user.email %></a></span>
      </li>
    <% end %>
    <li class="profile__detail">
      <span class="octicon octicon-clock"></span>
      <span>Joined on <time datetime="<%= @user.created_at %>"><%= @user.created_at.strftime("%b %d, %Y") %></time></span>
    </li>
  </ul>
  <div class="profile__section">
    <a class="profile__stat" href="https://github.com/<%= @user.login %>/followers">
      <strong class="profile__stat-count"><%= @user.followers %></strong>
      <span class="text-muted">Followers</span>
    </a>
    <a class="profile__stat" href="https://gist.github.com/<%= @user.login %>">
      <strong class="profile__stat-count"><%= @user.public_gists %></strong>
      <span class="text-muted">Gists</span>
    </a>
    <a class="profile__stat" href="https://github.com/<%= @user.login %>/following">
      <strong class="profile__stat-count"><%= @user.following %></strong>
      <span class="text-muted">Following</span>
    </a>
  </div>
</div>
